@font-face {
    font-family: 'DIN Next Slab Pro';
    src: url('DINNextSlabPro-Bold.woff2') format('woff2'),
        url('DINNextSlabPro-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'DIN Next Slab Pro';
    src: url('DINNextSlabPro-MediumIt.woff2') format('woff2'),
        url('DINNextSlabPro-MediumIt.woff') format('woff');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'DIN Next Slab Pro';
    src: url('DINNextSlabPro-HeavyItalic.woff2') format('woff2'),
        url('DINNextSlabPro-HeavyItalic.woff') format('woff');
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: 'DIN Next Slab Pro';
    src: url('DINNextSlabPro-BlackItalic.woff2') format('woff2'),
        url('DINNextSlabPro-BlackItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'DIN Next Slab Pro';
    src: url('DINNextSlabPro-Medium.woff2') format('woff2'),
        url('DINNextSlabPro-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'DIN Next Slab Pro';
    src: url('DINNextSlabPro-UltraLight.woff2') format('woff2'),
        url('DINNextSlabPro-UltraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'DIN Next Rounded LT Pro';
    src: url('DINNextRoundedLTPro-Bold.woff2') format('woff2'),
        url('DINNextRoundedLTPro-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'DIN Next Slab Pro';
    src: url('DINNextSlabPro-Heavy.woff2') format('woff2'),
        url('DINNextSlabPro-Heavy.woff') format('woff');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'DIN Next Slab Pro';
    src: url('DINNextSlabPro-LightItalic.woff2') format('woff2'),
        url('DINNextSlabPro-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'DIN Next Rounded LT Pro';
    src: url('DINNextRoundedLTPro-Light.woff2') format('woff2'),
        url('DINNextRoundedLTPro-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'DIN Next Slab Pro';
    src: url('DINNextSlabPro-UltLightIt.woff2') format('woff2'),
        url('DINNextSlabPro-UltLightIt.woff') format('woff');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'DIN Next Slab Pro';
    src: url('DINNextSlabPro-Black.woff2') format('woff2'),
        url('DINNextSlabPro-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'DIN Next Slab Pro';
    src: url('DINNextSlabPro-Light.woff2') format('woff2'),
        url('DINNextSlabPro-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'DIN Next Rounded LT Pro';
    src: url('DINNextRoundedLTPro-Regular.woff2') format('woff2'),
        url('DINNextRoundedLTPro-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'DIN Next Slab Pro';
    src: url('DINNextSlabPro-BoldItalic.woff2') format('woff2'),
        url('DINNextSlabPro-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'DIN Next Rounded LT Pro';
    src: url('DINNextRoundedLTPro-Medium.woff2') format('woff2'),
        url('DINNextRoundedLTPro-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'DIN Next Slab Pro';
    src: url('DINNextSlabPro-Regular.woff2') format('woff2'),
        url('DINNextSlabPro-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'DIN Next Slab Pro';
    src: url('DINNextSlabPro-Italic.woff2') format('woff2'),
        url('DINNextSlabPro-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

