/* ----------------------------------------------------------------------------
 * Easy!Appointments - Open Source Web Scheduler
 *
 * @package     EasyAppointments
 * @author      A.Tselegidis <alextselegidis@gmail.com>
 * @copyright   Copyright (c) 2013 - 2018, Alex Tselegidis
 * @license     http://opensource.org/licenses/GPL-3.0 - GPLv3
 * @link        http://easyappointments.org
 * @since       v1.0.0
 * ---------------------------------------------------------------------------- */

@import "../fonts/fonts.css";

.modal-dialog{
    margin: 100px auto 0;
}
.col-sm-3{
    padding: 0;
}

root {
    display: block;
}

html,
body {
    height: 100%;
}

body {
    background-color: #FFFFFF;
    font-family: "DIN Next Rounded LT Pro";
    font-weight: 400;
    font-style: normal;
}

#main {
    display: table;
    vertical-align: middle;
}

#main .wrapper {
    height: 100vh;
    /*display: table-cell;*/
    padding-top: 10px;
    vertical-align: middle;
}
/*
    Buttons
*/
.btn-custom-primary, .btn-custom-default{
    background: #FFF;
    border: 2px solid #f368aa;
    border-radius: 50px;
    color: #f368aa;
    box-shadow: none;
}

.btn-custom-primary:hover{
    background: #e4669c;
    color: #fff;
}

.btn-custom-default{
    border: 2px solid #abacad;
    color: #abacad;
}

.btn-custom-default:hover{
    border: 2px solid #8f9091;
    color: #8f9091;
}

.text-danger{
    color: #e4669c;
}

/* BOOK APPOINTMENT WIZARD
 ------------------------------------------------------------------------------ */
#book-appointment-wizard {
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 11px 0px !important;
    -moz-box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 11px 0px !important;
    background-image: initial !important;
    background-color: rgba(255, 255, 255, 1) !important;
    padding: 0;
}

#book-appointment-wizard #header {
    border-radius: 15px 15px 0 0;
    border-bottom: 2px solid #765BBC;
    padding: 20px 0 15px 0;
}

#book-appointment-wizard #company-name img{
    display: block;
    margin: 15px auto;
    width: 200px;
}

#book-appointment-wizard #steps {
    display: inline-block;
    padding: 0 10px;
    width: 100%;
}

#book-appointment-wizard .wizard-frame {
    padding: 10px 0 10px;
}

#book-appointment-wizard .wizard-frame .frame-container {
    margin-bottom: 10px;
}

#book-appointment-wizard .frame-container .frame-title {
    color: #FFFFFF;
    text-align: center;
    margin-top: 0;
    margin-bottom: 25px;
    padding: 10px 0;
}

#book-appointment-wizard .frame-container .frame-title span{
    float: right;
    padding-right: 25px;
}

#book-appointment-wizard .frame-container .frame-content {
    float: none;
    margin: auto;
    padding: 10px 20px;
}

#book-appointment-wizard .wizard-frame .command-buttons {
    text-align: center;
}

#book-appointment-wizard .wizard-frame .command-buttons .btn {
    min-width: 80px;
    margin-right: 10px;
}

#book-appointment-wizard .book-step{
    color: #FFFFFF;
    font-size: 15px;
    width: 100%;
}

#book-appointment-wizard .book-step .right{
    color: #C5C5C5;
    line-height: 40px;
    float: left;
    margin-left: 5px;
    text-align: left;
}

#book-appointment-wizard .book-step .left{
    background: #C5C5C5;
    border-radius: 50%;
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 600;
    float: left;
    height: 40px;
    margin: auto 5px;
    padding: 5px 3px 0 3px;
    text-align: center;
    width: 40px;
}

#book-appointment-wizard .titles{
    display: flex;
    align-items: baseline;
    text-align: center;
}

#book-appointment-wizard .active-step .left {
    background: #765BBC;
    color: #FFFFFF;
}

#book-appointment-wizard .active-step .right {
    color: #765BBC;
    font-weight: bold;
}

#book-appointment-wizard .active-step strong {
    font-size: 18px;
}

#book-appointment-wizard #frame-footer {
    padding: 10px;
    text-align: center;
    border-top: 1px solid #EEE;
}

#book-appointment-wizard #steps .custom-qtip {
    border-width: 2px;
}

#book-appointment-wizard #available-hours .available-hour {
    display: inline-block;
    font-size: 12px;
    padding: 1px 5px;
}

#book-appointment-wizard #available-hours .available-hour:hover {
    background-color: #ff6cb0;
    color: #fff;
    cursor: pointer;
    font-weight: bold;
}

#book-appointment-wizard #available-hours .selected-hour {
    background-color: #ff87b8;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 12px;
}

#book-appointment-wizard .span3 {
    min-width: 270px; /* This is especially needed for ie8 */
}

#book-appointment-wizard #appointment-details p,
#book-appointment-wizard #customer-details p {
    font-size: 16px;
    line-height: 28px;
}

#book-appointment-wizard #wizard-frame-1 label {
    font-size: 19px;
    margin-bottom: 12px;
}

#book-appointment-wizard #wizard-frame-1 select {
    margin-bottom: 25px;
}

#book-appointment-wizard .captcha-title {
    float: left;
    margin-right: 20px;
    margin-top: 7px;
}

#book-appointment-wizard .captcha-title .glyphicon-refresh {
    cursor: pointer;
    transition: all 0.3s linear;
}

#book-appointment-wizard .captcha-title .glyphicon-refresh:hover {
    color: #1A865F;
}

#book-appointment-wizard .captcha-image {
    float: right;
    margin-bottom: 20px;
    border-radius: 3px;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
}

#book-appointment-wizard .captcha-text {
    width: 100%;
    margin-bottom: 20px;
}

/* BOOK SUCCESS & MESSAGE
   ------------------------------------------------------------------------- */
#message-frame,
#success-frame {
    background: #FFF;
    border: 1px solid #DDDADA;
    padding: 70px;
}

#message-frame #message-icon,
#success-frame #success-icon {
    margin-top: 20px;
}

#message-frame .alert,
#success-frame .alert {
    margin-top: 20px;
}

/* CANCEL APPOINTMENT
   ------------------------------------------------------------------------- */

.booking-header-bar {
    padding: 10px 0;
    margin: 0;
    background: #FAFAFA;
}

.booking-header-bar p {
    margin-top: 2px;
    margin-bottom: 0;
}

/* MOBILE DEVICES
   ------------------------------------------------------------------------- */
@media (max-width: 768px) {
    /**
     * BOOKING WIZARD
     */
    html,
    body {
        min-height: 100%;
    }

    #main {
        min-height: 100%;
        padding: 0 5vw;
    }

    #main .wrapper {
        width: 100vw;
    }

    #book-appointment-wizard #header {
        overflow: auto;
        height: auto;
    }

    #book-appointment-wizard #company-name {
        display: block;
        text-align: center;
    }

    #book-appointment-wizard #steps {
        float: none;
        display: block;
        overflow: auto;
        margin: 20px auto;
    }

    #book-appointment-wizard .wizard-frame {
        height: auto;
        padding: 0 10px;
    }

    #book-appointment-wizard .wizard-frame .frame-container {
        height: auto;
    }

    #book-appointment-wizard .wizard-frame .command-buttons {
        float: none;
        width: 80%;
        margin: 20px auto;
    }

    #book-appointment-wizard .wizard-frame .command-buttons .btn {
        width: 45%;
    }

    #book-appointment-wizard .wizard-frame .command-buttons #button-next-2,
    #book-appointment-wizard .wizard-frame .command-buttons #button-next-3 {
        float: right;
    }

    #book-appointment-wizard .wizard-frame .command-buttons #button-next-1 {
        width: 100%;
        max-width: 300px;
        margin: auto;
        display: block;
    }

    #book-appointment-wizard .wizard-frame #select-date {
        width: 260px;
        margin: auto; /* center */
    }

    #book-appointment-wizard #available-hours {
        overflow: auto;
        margin: 20px auto;
        width: 260px;
        padding-left: 20px; /* center at the bottom of datepicker */
    }

    #book-appointment-wizard #available-hours div {
        margin-right: 30px;
    }

    #book-appointment-wizard #available-hours .available-hour {
        padding: 8px 3px;
    }

    #book-appointment-wizard #form-message {
        display: block;
        text-align: center;
    }

    #book-appointment-wizard #book-appointment-form {
        width: 45%;
        float: right;
    }

    #book-appointment-wizard #book-appointment-form #book-appointment-submit {
        width: 100%;
    }

    .popover .popover-title {
        text-align: center;
    }

    .popover .popover-content #language-list .language {
        margin: 10px 0;
    }

    /**
     * BOOK SUCCESS
     */
    #message-frame,
    #success-frame {
        text-align: center;
        height: auto;
        border: none;
        padding: 35px;
    }

    #message-frame #message-icon,
    #success-frame #success-icon {
        width: 64px;
        display: block;
        margin: auto;
        float: none !important;
    }

    #success-frame .btn {
        margin-bottom: 10px;
        width: 80%;
        max-width: 250px;
    }

    /**
     * CANCEL APPOINTMENT
     */
    #cancel-appointment-frame {
        text-align: center;
    }

    .ui-dialog .ui-dialog-title {
        font-size: 1.2em;
    }
}

@media (max-width: 480px) {
    body {
        background-color: #FAFAFA;
    }

    #main {
        padding: 0;
    }

    #main .wrapper {
        width: 100vw;
        margin: 0;
        display: block;
    }

    #book-appointment-wizard {
        box-shadow: none;
    }

    #book-appointment-wizard .captcha-title {
        margin: 7px 0 10px 0
    }

    #book-appointment-wizard .captcha-image {
        float: left;
    }

    #message-frame,
    #success-frame {
        height: 100%;
    }
}